.services {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding: 4rem;
  background: #043974;
  color: #fff;
  flex-wrap: wrap;
  /* border-radius: 10px; */
  position: relative;
  overflow: hidden;
}
.services::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-image: url('../../assets/servicess.jpg'); */
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  opacity: 0.2;
  z-index: 0;
}
.services-text {
  flex: 1;
  max-width: 600px;
  position: relative;
  z-index: 1;
}
.services-text h2 {
  font-family: 'League Gothic', sans-serif;
  font-size: 4rem;
  letter-spacing: 3px;
}
.services-text p {
  font-size: 1rem;
  margin: 1rem 0 2rem;
  line-height: 1.6;
}
.services-img {
  flex: 1;
  max-width: 480px;
  position: relative;
  z-index: 1;
}
.services-img img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
}

.button-primary{
  font-size: 1rem;
  border-radius: 8px;
  padding: 12px 24px;
  color: white;
  background-image: linear-gradient(to right, #d87c26, #E89141);
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;
}

.button-primary:hover {
    background: white;
    color: black;
    border: 1px solid #E89141;
}